@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto&display=swap');
@font-face {
  font-family: 'Steamed';
  src: url(../fonts/Steamed.otf);
}

*,
*::before,
*::after {
  font-family: 'Roboto', 'Road Rage', 'Arial', sans-serif;
}

body {
  background-color: #f3f3f3;
}
.blur {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.25);
}
.border-white {
  border: rgb(255, 255, 255) solid 1px;
}
.border-black {
  border: rgb(0, 0, 0) solid 1px;
}
.rounded-50 {
  border-radius: 50px;
}

.outlined {
  color: white;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
    1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}
