@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto&display=swap');
@font-face {
  font-family: 'Steamed';
  src: url(../fonts/Steamed.otf);
}

*,
*::before,
*::after {
  font-family: 'Roboto', 'Road Rage', 'Arial', sans-serif;
}

body {
  background-color: #f3f3f3;
}
.blur {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.2);
}
