*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f3f3;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

html,
body,
#__nuxt,
#__layout {
  min-height: 100% !important;
  width: 100% !important;
}
